*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.container{
    max-width: 60%;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 80px;
    background-color: blue;
    .first-header{
        display: flex;
        justify-content: space-between;
        align-items: center; 
        width: 100%;
        height: 80px; 
        nav a{
            color: white;
            
        }
        .ul{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 80px;
            
            
        }
    }
    

}

main{
    width: 100%;
    height: 80px;
    background-color: black;
    .main-header{
        display: flex;

    }
}