*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; 
}

.container{
    max-width: 60%;
    margin: 0 auto;
}
.reklam{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    img{
        width: 500px;
        height: 90px;
        display: flex;
        justify-content: center;

    }
}

header{
    width: 100%;
    height: 35px;
    background-color: #00193c; 
    // position: fixed;
    
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center; 
        width: 100%;
        height: 35px;
        

        a{
            color: white;
            
        }
        .logo{
            font-size: 30px;
            align-items: center;
            width: 100%;
            height: 35px;            
        }
        nav{
            display: flex;
            width: 100%;
            justify-content: left;
        }
        .about{
            font-size: 13px;
            font-weight: 600;
        }
        .social{
            font-size: 25px;
        }
        ul{
            display: flex;
            align-items: center;
            width: 100%;
            height: 35px;
            li{
                margin-left: 15px;
                text-decoration-line: underline;
                
                
            }

            
            
        }
    }
    .search{
        position: relative;
        i{
            position: absolute;
            color: white;
            font-size: 18px;
            margin-top: 5px;
            margin-right: 10px;
            width: 40px;
            height: 30px;
        }
        input{
            height: 30px;
            background-color: #00193c;
            padding: 5px;
            font-size: 15px;
            width: 150px;        
        }
    }
    

}

main{
    height: 35px;    
    background-color: #222;
    box-shadow:  0 3px 3px rgb(0 0 0 / 40%);
    a{
        color: white;
        font-weight: 500;
    }  
    .main-header{
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    ul{
        display: flex;
        li{
            justify-content: center;
            margin-left: 15px;           
        }
        li:hover{
            background-color: gray;
            height: 35px;
        }
    }
    form{        
        i{
            color: white;
            font-size: 27px;
        }
        select{
            display: none;
        }
    }
    section{
        
        
        .card{
            width: 850px;
            height: 500px;
            
            margin: 20px;
            display: flex;
            position: relative;

            .anons{
                
                img{
                    width: 620px;
                    position: relative;
                    
    
                }
                p{
                    width: 620px;
                    height: 80px;
                    color: white;
                    background-color: #222;
                    font-size: 25px;
                    padding: 10px;      
                    bottom: 10px;          
                }
                i{
                    position: absolute;
                    color: white;
                    font-size: 50px;
                    font-weight: 900;
                    bottom: 220px;
                    margin-left: 20px;
                                      
                }
                .fa-chevron-right{
                    left: 540px;
                }
                .date{
                    
                    height: 35px;
                    background-color: rgba(24,148,160,.8);
                    position: absolute;                
                    align-items: center;
                    bottom: 85px;
                    
                    span{                    
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 17px;
                        font-weight: 700;
                        padding-left: 10px;
                        height: 35px;
                    }
    
    
                }

            }

         .twocard{
            margin: 10px;
            img{
                width: 200px;
                height: 200px;                
            
            }
            .link{
                width: 200px;
                height: 80px;
            }

         }   
        }
    }
    // section cardss
    section{
        .cards{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
        }
        a:hover{
            box-shadow: 11px 4px 19px -9px rgba(0,0,0,0.61);
    -webkit-box-shadow: 11px 4px 19px -9px rgba(0,0,0,0.61);
    -moz-box-shadow: 11px 4px 19px -9px rgba(0,0,0,0.61);
        }
        

    
        .card-box{
            width: 250px;
            height: 400px;
            position: relative;
            margin: 10px;

           
            
    
        
            img{
                width: 250px;
                height: 160px;
                
            }
            .date{
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 0px;
                span{
                width: 40px;
                height: 40px;
                background-color: rgba(127, 255, 212, 0.203);
                text-align: center;            
                padding: 3px;
                margin-bottom: 3px;
                font-size: 12px;
                font-weight: 600;
                }
                .clock{
                    height: 20px;
                    background-color: #00193c69;
    
                }
            }
            p{
                border: 1px solid rgb(185, 181, 181);
                width: 250px;
                height: 170px;
                color: rgb(29, 10, 227);
                padding: 15px;
                font-size: 20px;
                
            }
            .icon{
                color: rgb(129, 122, 122);
                display: flex;
                justify-content: space-around;
                padding: 5px;
                align-items: center;
                span{
                     width: 80px;
                    height: 30px;
                    text-align: center;
                    padding: 5px;
                    border-right: 1px solid #d2cccc;
                    color: rgb(129, 122, 122);
                }
                .like:hover{
                    background-color: green;
                }
                .dislike:hover{
                    background-color: red;
                }
                
            }
            
    
        }
    }
}
